<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69717b">  <td>18/07/27 16:07:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;astroAssignmentLevel2.setup()[pri:0, instance:astro.Assignment.astroAssignmentLevel2@46d56d67]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/07/27 16:11:10</td>   <td>225724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;astroAssignmentLevel2.tearDown(org.testng.ITestResult)[pri:0, instance:astro.Assignment.astroAssignmentLevel2@46d56d67]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="69717b">  <td>18/07/27 16:07:25</td>   <td>394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="astroAssignmentLevel2.verifyEcommerceEbay()[pri:0, instance:astro.Assignment.astroAssignmentLevel2@46d56d67]">verifyEcommerceEbay</td> 
  <td>main@1072601481</td>   <td></td> </tr>
</table>
